<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="nlog-internal.log">

  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/logfile.txt" />
    <!-- Additional targets can be added here -->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <!-- Additional rules can be added here -->
  </rules>
</nlog>
